%shadow {
  box-shadow: 0 0 8px rgba(31, 63, 105, 0.2);
}

%img_responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  & {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}