@import 'fonts';

$blue: #DBE3E9;
$blue-dark: #2A334A;
$pink: #FDEAE0;
$white: #fff;
$gray: #F8F8F8;
$text-color: #040A18;
$orange: #ffb900;
$breadcrumbs:  #100725;

$contacts-max-widths: (768px: 720px, 992px: 960px, 1200px: 1140px) !default;

$font-bold: 'Neue Haas Grotesk Display Pro', sans-serif;
$font-regular: 'Neue Haas Unica', sans-serif;