.form-control {
  border-radius: 0;
  border: 0;
  background: none;
  background-color: transparent;
  border-bottom: 1px solid $white;
  color: $white;
  padding: .375rem 0;
  font-size: 20px;
  line-height: 28px;

  &:focus {
    background: none;
    background-color: transparent;
    border-color: $white;
    color: $white;
    box-shadow: none;
  }

  @include placeholder {
   color: $white
  }
}

.form-group {
  position: relative;
  margin-bottom: 50px;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  line-height: 28px;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
}

.form-group label {
  top: 4px;
  transform: none;
}

.form-group label.focused {
  top: -22px;
  transform: none;
  opacity: .6;
}


.wpcf7 form .wpcf7-response-output {
  margin: 2em 0 1em;
  border: 2px solid $blue;
  text-align: center;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  background: $orange;
}

.wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output {
  background: #dc3232;
}

.wpcf7-spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 7px auto;
}

.wpcf7-list-item {
  margin: 0;
}

.wpcf7-not-valid-tip {
  color: #ffafaf;
  font-size: 14px;
}

.wpcf7-acceptance {
  input[type="checkbox"] {
    display: none;
  }

  .checkbox-icon {
    position: absolute;
    left: 0;
    top: -2px;
    cursor: pointer;

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      pointer-events: none;
      border: 3px solid $white;
      display: block;
      position: absolute;
      top: 3px;
      border-radius: 4px;
    }

    svg {
      opacity: 0;
    }
  }

  .wpcf7-list-item-label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
  }

   input[type=checkbox]:checked + .wpcf7-list-item-label  .checkbox-icon::before{
    opacity:0
  }

   input[type=checkbox]:checked + .wpcf7-list-item-label  .checkbox-icon svg {
    opacity:1
  }

  a {
    color: $white
  }
}

.form-title {
  margin-bottom: 0
}


.fileinput-custom {
  $fi : &;

  &__checkbox {
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: $blue-dark;
    opacity: 0;
    transition: .3s;

    &::before {
      content: '';
      width: 7px;
      height: 12px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -63%) rotate(45deg);
    }
  }

  &--selected {
    label {
      background: $white;
      color: $blue-dark;
    }

    #{$fi}__checkbox{
      opacity: 1;
    }
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    pointer-events: none;
  }

  label {
    border-radius: 24px;
    border: 1px solid $white;
    display: block;
    min-width: 245px;
    text-align: center;
    position: relative;
    line-height: 56px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 30px;

    &:hover {
      background: $white;
      color: $blue-dark;
    }
  }

}

@media (min-width: 768px){
  .wpcf7-spinner {
    left: auto;
    right: 80px;
  }

  .fileinput-custom {
    label {
      min-width: 290px;
    }
  }
  .form-group--documents {
    .list-inline-item:not(:last-child) {
      margin-right: 100px;
    }
  }

}