.values-contact {
  line-height: 44px;
  color: $blue-dark;
  margin-bottom: 80px;

  .team-contacts__item {
    white-space: nowrap;
  }

  .meta__position {
    font-size: 20px;
    font-weight: 400;
  }
}

@media (min-width: 992px){

}